<% articles.each_with_hit do |record, hit| %>
  <%
    title = hit.highlight.title ? (raw hit.highlight.title[0]) : record.title
    content = hit.highlight.content ? (raw hit.highlight.content[0]) : record.content[0..5]
   %>
   <div class="media stream">
     <div class="media-body">
       <div class="stream-headline">
         <h5 class="stream-author" style="font-size: 15px;"><%= title %><small>08 July, 2014</small></h5>
         <div class="stream-text"><%= content %></div>
       </div><!--/.stream-headline-->
     </div>
   </div><!--/.media .stream-->
<% end %>
