<% articles.each_with_hit do |record, hit| %>
  <li>
    <%
      title = hit.highlight.title ? (raw hit.highlight.title[0]) : record.title
      content = hit.highlight.content ? (raw hit.highlight.content[0]) : record.content[0..5]
     %>
    <a href="<%= question_path(record.id) %>">
      <p><%= title %></p>
    </a>
  </li>
<% end %>
