<% articles.each_with_hit do |record, hit| %>
  <li>
    <% title = hit.highlight.title ? (raw hit.highlight.title[0]) : record.title %>
    <a href="<%= question_path(record.id) %>"><%= title %></a>
  </li>
<% end %>
