<div class="wrapper">
  <div class="container">
    <div class="row">
      <%= render 'shared/left' %>

				<div class="span9">
					<div class="content">

						<div class="module message">
							<div class="module-head">
								<h3>Task Management Tool</h3>
							</div>
							<div class="module-option clearfix">
								<div class="pull-left">
									Filter : &nbsp;
									<div class="btn-group">
										<button class="btn">All</button>
										<button class="btn dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">All</a></li>
											<li><a href="#">In Progress</a></li>
											<li><a href="#">Done</a></li>
											<li class="divider"></li>
											<li><a href="#">New task</a></li>
											<li><a href="#">Overdue Task</a></li>
										</ul>
									</div>
								</div>
								<div class="pull-right">
									<a href="<%= new_question_path %>" class="btn btn-primary">Create Task</a>
								</div>
							</div>
							<div class="module-body table">

								<table class="table table-message">
									<tbody>
                    <% @questions.each do |question| %>
                      <tr class="task">
                        <td class="cell-title">
                          <div><h4 style="margin-bottom:0px;margin-right:10px;di"><%= question.title %></h4></div>
                          <div><%= question.content %></div>
                        </td>
                      </tr>
                    <% end %>
									</tbody>
								</table>


							</div>
							<div class="module-foot">
							</div>
						</div>

					</div><!--/.content-->
				</div><!--/.span9-->

    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
