<div class="modal-content mdialog">
  <div class="modal-header">
    <span role="button" class="close" data-dismiss="modal">×</span>
      <form action="/questions/search" accept-charset="UTF-8" data-remote="true" method="get"><input name="utf8" type="hidden" value="✓">
         <div class="inupt-group-icon">
            <input type="text" id="search_in_keyword" name="token" placeholder="搜索本站内容">
            <i class="fa fa-search icon"></i>
         </div>
      </form>
  </div>
  <div class="modal-body" id="search-result">
     <div id="no-result">
        <i class="fa fa-search fa-5x"></i>
     </div>
  </div>
</div>
