<%= form_for :session, url: "/auth/ldap/callback", role: "form" do |f| %>
  <div class="input-group mb-3">
    <%= f.text_field :username, name: 'username', placeholder: "Username", class: "form-control", required: "required" %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-user"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <%= f.password_field :password, name: 'password', placeholder: "Password", class: "form-control", required: "required" %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="icheck-primary">
        <input type="checkbox" id="remember">
        <label for="remember">
          Remember Me
        </label>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block">Sign In</button>
    </div>
    <!-- /.col -->
  </div>
<% end %>


<!-- <input class="btn btn-primary form-control" name="commit" type="submit" value="LDAP登录"> -->
