<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'library/left' %>
        <div id="info" class="span9">
          <%=Employee.current_employee.inspect%>
          <%= session[:employee_name] %>

        </div>
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->

<script type="text/javascript">
  $(document).ready(function(){
    $('.table-message tbody tr').click(function(){
        window.location.href = $(this).attr('date-href');
      });
  });
</script>
<style media="screen">
  .wrapper {
    min-height: 0;
  }
</style>
