<meta name="viewport" content="width=width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="btn-controls">
            <div class="btn-box-row row-fluid">
              <a href="#" class="btn-box big span3" id="scan_barcode">
                <i class="icon-barcode"></i>
                <b>扫描条形码</b>
              </a>
            </div>
          </div>
        </div><!--/.content-->

        <div class="content">
          <div class="module message">
            <div class="module-head">
               <h3>图标选择</h3>
            </div>
            <div class="module-body table">
              <table class="table table-message">
                <tbody>
                  <tr class="heading">
                    <td class="cell-title">ISBN</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="module-foot"></div>
          </div>
        </div><!--/.content-->

      </div><!--/.span12-->

    </div>
  </div><!--/.container-->
</div>
<style type="text/css">
.dingwrapper {
  background: #eee;
  padding: 30px 0
}
</style>
<script src="http://g.alicdn.com/dingding/open-develop/1.9.0/dingtalk.js"></script>
<script>
// $(".btn-box").click(function () {
//   DingTalkPC.biz.util.openLink({
//       url: $(this).attr("dinghref"),//要打开链接的地址
//       onSuccess : function(result) {
//         window.location.reload()
//       },
//       onFail : function() {
//         window.location.reload()
//       }
//   });
// });

var insert_isbn = function (isbn) {
  var insertIsbn = {
      url: '/books/scan_barcode_insert_isbn',
      type: 'GET',
      data:{isbn:isbn},
      dataType: 'json',
      success: function(response){
          if (response.status === 1){
            var insert_html = '<tr class="unread">' +
            '<td class="cell-title">' +
            isbn + '插入成功' +
            '</td>' +
            '</tr>';
            $(".heading").after(insert_html);
          } else {
              alert(JSON.stringify(response));
          }
      },
      error: function(err){
          alert(JSON.stringify(err));
      }
  }
  $.ajax(insertIsbn);
}


$(".scan_barcode").click(function () {
  dd.ready(function(){
    dd.biz.util.scan({
      type: "all",
      tips: "请扫描冰箱二维码",  //进入扫码页面显示的自定义文案
      onSuccess: function(data) {
      //onSuccess将在扫码成功之后回调
        /* data结构
          { 'text': String}
        */
        insert_isbn(data['text']);
      },
      onFail : function(err) {
      }
    })
  });
});
</script>
