<%= form_for @book_classification, url: book_classification_path(@book_classification), html: { class: "form-horizontal row-fluid", id: "create_book_classification_form" }  do |c| %>
  <div class="control-group">
    <label class="control-label" for="basicinput">BookClassification Name</label>
    <div class="controls">
      <%= c.text_field  :name, placeholder: "Type something here...", class: "span8" %>
    </div>
  </div>
<% end %>
