<footer class="main-footer">
  <strong>Copyright &copy; 2019-2021 <a href="https://han-express.abcam.com/golden_idea">Golden Idea</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 2.0.5
  </div>
</footer>
