<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-head">
              <h3>各期金点子统计</h3>
            </div>
            <div class="module-body">
              <div class="chart">
                <%= column_chart GoldenIdea::Idea.group(:season_id).count.map{|s| [GoldenIdea::Season.find(s[0]).name, s[1]]}%>
              </div>
            </div>
          </div><!--/.module-->
          <br />
          <div class="module">
            <div class="module-head">
              <h3>各期金点子统计</h3>
            </div>
            <div class="module-body">
              <div class="chart inline-legend grid">
                <%= line_chart GoldenIdea::Idea.group(:season_id).count.map{|s| [GoldenIdea::Season.find(s[0]).name, s[1]]} %>
              </div>
            </div>
          </div><!--/.module-->
          <br />
          <div class="module">
            <div class="module-head">
              <h3>部门统计</h3>
            </div>
            <div class="module-body">
              <div class="chart pie donut">
                <%= pie_chart GoldenIdea::Idea.group(:department).count %>
              </div>
            </div>
          </div><!--/.module-->
        </div><!--/.content-->
      </div><!--/.span9-->
    </div><!--/.row-->
  </div><!--/.container-->
</div>
