<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-head">
               <h3><%= t 'menu.gi_template' %></h3>
            </div>
            <div class="module-body">
              <%= render "golden_idea/application/flash" %>
              <a class="btn btn-large btn-primary" href="/（非）技术类+标题+提交人+（未）完成+日期—Golden Idea Submit Template V2.pptx"><%= t 'template_download' %></a>
            </div>
          </div>
        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
