<div class="wrapper wrapper-library">
  <div class="container">
    <div class="row">
      <%= render 'golden_idea/application/left' %>
      <div class="span9">
        <div class="content">
          <div class="module">
            <div class="module-head">
               <h3>金点子模板</h3>
            </div>
            <div class="module-body">
              <%= render "golden_idea/application/flash" %>
              <img src="/images/socore_standard_v2.png" alt=""/>
              <a class="btn btn-large btn-primary" href="/（非）技术类+标题+提交人+（未）完成+日期—Golden Idea Submit Template V2.pptx">模板下载</a>
            </div>
          </div>
        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div><!--/.container-->
</div><!--/.wrapper-->
