<%= form_for @season, url: golden_idea_seasons_path, html: { class: "form-horizontal row-fluid", id: "create_book_classification_form" }  do |f| %>
  <div class="control-group">
    <label class="control-label" for="basicinput">Book Classification Name</label>
    <div class="controls">
      <%= f.text_field  :name, placeholder: "Type something here...", class: "span8" %>
    </div>
  </div>
<% end %>
