<!DOCTYPE html>
<html>
  <head>
    <title>ChatRobot</title>
    <%= csrf_meta_tags %>
    <script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
